.login-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.login-icon img {
    height: 30px;
    height: 30px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.form-wrapper input {
    width: 100%;
    padding: 10px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-wrapper label {
    margin-top: 10px;
}

.form-wrapper p {
    margin-top: 10px;
}

.form-wrapper button {
    background-color: #D2AF6D;
    border: none;
    border-radius: 3px;
    color: #242424;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 20px;
    margin: 3px 0;
}

@media screen and (max-width: 576px){
    .login-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
}